<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="BusConfiguration" type="Wallet.Messaging.Config.BusConfiguration, Wallet.Messaging" requirePermission="true" />
    <section name="healthCheck" type="Wallet.GASender.Config.HealthCheckSection, Wallet.GASender" requirePermission="true" />
    <section name="common" type="Wallet.GASender.Config.CommonSection, Wallet.GASender" requirePermission="true" />
    <section name="payments" type="Wallet.GASender.Config.PaymentsSection, Wallet.GASender" requirePermission="true" />
  </configSections>
  <BusConfiguration AppId="Wallet.GASender" BusConnectionString="host=localhost" />
  <healthCheck url="http://localhost:8092" />
  <common trackingId="trackingId" googleAnaliticsUrl="https://ssl.google-analytics.com" googleAnaliticsTimeout="30" />
  <payments startTime="06:00" interval="3600" w1ConnectionString="Data Source=test;Initial Catalog=test;Integrated Security=True;" />
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" autoReload="true" throwExceptions="true">
    <variable name="root" value="${basedir}/Logs/${date:format=yyyyMMdd/}" />
    <variable name="month" value="${date:format=yyyy-MM}" />
    <variable name="day" value="${date:format=yyyy-MM-dd}" />
    <variable name="time" value="${date:format=HH\:mm\:ss.fff}" />
    <targets async="true">
      <target name="defaultFile" type="File" encoding="UTF-8" keepFileOpen="false" fileName="${root}/${logger}.log" layout="[${time}, ${processid}] ${level:padding=5} ${message} ${exception:format=Type,Message,Method,StackTrace:maxInnerExceptionLevel=10:innerFormat=Type,Message,Method,StackTrace}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="defaultFile" />
      </rules>
  </nlog>  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.9.0" newVersion="3.6.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>